.fileCarousel {
    display: flex;
    margin: 16px 0;
    overflow-x: scroll;
    padding: 10px;
}

.filePreview label {
    display: block;
    margin-right: 12px;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    opacity: 0.6;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-300);
}

.filePreview label:hover {
    outline: 4px solid var(--gray-300);
}

.radioInput {
    display: none;
}

.radioInput:checked + label{
    opacity: 1;
    outline: 2px solid var(--primary);
    outline-offset: 2px;
}   