@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --primary: #05F2F2;
  --primary-dark: #08A0A0;
  --secondary: #686CCA; 
  --secondary-dark: #373A74; 
  --gray-100: #F6F8FB;
  --gray-200: #E9EDF3;
  --gray-300: #D7DCE3;
  --gray-400: #BBC2CD;
  --gray-500: #88909C;
  --gray-600: #4B5159;
  --gray-700: #1F2328;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, 'sans-serif';
  color: var(--gray-700);
  background-color: var(--gray-100);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Ubuntu, 'sans-serif';
  font-weight: 300;
}

p.small {
  color: var(--gray-500);
}

a {
  color: var(--primary-dark);
  /* text-decoration: none; */
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

a.secondary {
  color: var(--secondary);
}

/* =========bootstrap=========== */

.text-right {
  text-align: right;
}

/* =========input=========== */

input.form-control {
  margin: 24px 0; 
  padding: 16px 24px;
  border: none;
  border-radius: 10px;
  box-shadow: -4px -4px 8px white, 2px 2px 2px white, inset 2px 3px 8px #00000010;
  background-color: #EEF1F5;
}

input.form-control:active,
input.form-control:focus {
  outline: 2px solid var(--primary);
  box-shadow: 4px 4px 12px #00000020, -4px -4px 12px white;
}

input.form-control:disabled {
  box-shadow: none;
  background-color: var(--gray-400);
}

input.form-control.flat {
  box-shadow: none;
}
/* =========button=========== */

.btn {
  font-weight: bold;
  border: none;
}

.btn.large {
  border-radius: 10px;
  padding: 16px 32px;
}

.btn.small {
  border-radius: 6px;
  padding: 12px 32px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--gray-700);
  background-color: var(--primary);
}

.btn-primary:focus,
.btn-primary:active {
  box-shadow: none;
}

.btn-secondary{
  color: var(--gray-100);
  background-color: var(--secondary);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--secondary-dark);
}

.btn-secondary.stroke{
  color: var(--secondary);
  border: 2px solid var(--secondary);
  background: none;
}

.btn-secondary.stroke:hover{
  color: var(--gray-100);
  background: var(--secondary);;
}

.btn.round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* =========nav tabs========= */

.nav-tabs .nav-link {
  font-family: Inter, 'sans-serif';
  font-size: 24px;
  font-weight: bold;
  border: none;
  color: var(--gray-400);
  min-width: 140px;
  padding: 5px;
}

.nav-tabs .nav-link:hover {
  border: none;
  color: var(--gray-600);
}

.nav-tabs .nav-link.active {
  color: var(--secondary);
  border: none;
  border-bottom: 4px solid var(--secondary);
  background: none;
}

/* ========= bootstrap ========= */
.font-weight-bold {
  font-weight: bold;
}

/* ========== other styles ============ */
.about-text {
  font-size: 18px;
  color: var(--gray-600);
}