@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Ubuntu:wght@300;400;700&display=swap');

:root {
  --primary: #05F2F2;
  --primary-dark: #02B8B8;
  --secondary-light: #C2C5FF; 
  --secondary: #686CCA; 
  --secondary-dark: #373A74; 
  --gray-100: #F6F8FB;
  --gray-200: #E9EDF3;
  --gray-300: #D7DCE3;
  --gray-400: #BBC2CD;
  --gray-500: #88909C;
  --gray-600: #4B5159;
  --gray-700: #1F2328;
  --danger: #FA3E3E;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, 'sans-serif';
  color: var(--gray-700);
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Ubuntu, 'sans-serif';
  font-weight: 300;
}

p.small {
  color: var(--gray-500);
}

a {
  color: var(--secondary);
  font-weight: bold;
}

a:hover {
  color: var(--primary-dark);
}

a.secondary {
  color: var(--secondary);
}

/* =========bootstrap=========== */

.text-right {
  text-align: right;
}

/* =========input=========== */

input.form-control,
textarea.form-control {
  margin: 24px 0; 
  padding: 16px 24px;
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 3px 8px #00000007;
  background-color: var(--gray-200);
}

input.form-control:active,
input.form-control:focus,
textarea.form-control:active,
textarea.form-control:focus {
  outline: 2px solid var(--primary);
  box-shadow: 4px 4px 12px #00000020, -4px -4px 12px white;
}

input.form-control:disabled {
  box-shadow: none;
  background-color: var(--gray-400);
}

input.form-control.flat {
  box-shadow: none;
}
/* =========button=========== */

.btn {
  font-weight: bold;
  border: none;
}

.btn.large {
  border-radius: 10px;
  padding: 16px 32px;
}

.btn.small {
  border-radius: 6px;
  padding: 12px 32px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--gray-700);
  background-color: var(--primary);
  border: 2px solid var(--primary)
}

.btn-primary:focus,
.btn-primary:active {
  box-shadow: none;
}

.btn-secondary{
  color: var(--gray-100);
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: var(--secondary-dark);
}

.btn-secondary.stroke{
  color: var(--secondary);
  background: none;
}

.btn-secondary.stroke:hover{
  color: var(--gray-100);
  background: var(--secondary);
  border: 2px solid var(--secondary);
}

.btn.round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* =========nav tabs========= */

.nav-tabs .nav-link {
  font-family: Inter, 'sans-serif';
  font-size: 22px;
  font-weight: bold;
  border: none;
  color: var(--gray-400);
  min-width: 140px;
  padding: 5px;
}

.nav-tabs .nav-link:hover {
  border: none;
  color: var(--gray-600);
}

.nav-tabs .nav-link.active {
  color: var(--gray-600);
  border: none;
  border-bottom: 3px solid var(--gray-600);
  background: none;
}

/* ========= checkbox ========= */

.form-check-input[type="checkbox"] {
  height: 20px;
  width: 20px;
  border: 2px solid var(--secondary);
  border-radius: 6px;
}

.form-check-input[type="checkbox"]:checked {
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
}

.form-check-input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
}

/* ========= dropdown ========= */
.dropdown-toggle:after {
  display: none;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
}

.show > .btn {
  background-color: var(--gray-300);
}

.dropdown-menu {
  border-radius: 20px;
  border: none;
  overflow: hidden;
  box-shadow: 3px 3px 10px #00000010;
}

.dropdown-item,
.dropdown-item:active {
  padding: 8px 24px;
  font-weight: bold;
  color: var(--gray-600);
}

.dropdown-item.danger {
  color: var(--danger);
}

.dropdown-item:active,
.dropdown-item:hover {
  background-color: var(--gray-200);
}

.form-select {
  color: var(--secondary-dark);
  border: 2px solid var(--secondary);
  text-overflow: ellipsis;
}

.form-select:focus,
.form-select:active {
  outline: none;
  box-shadow: none;
  border: 2px solid var(--primary);
}

/* ========= bootstrap ========= */
.font-weight-bold {
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.toast-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
}

.toast.success {
  color: rgb(41, 148, 41);
}

.toast-body {
  font-size: 16px;
}
/* ========== other styles ============ */
.about-text {
  font-size: 18px;
  color: var(--gray-600);
}

.text-large {
  font-size: 300%;
  font-weight: bold;
  color: var(--gray-400);
  letter-spacing: .2em;
}

.round {
  border-radius: 300px;
}

.modal-content {
  border-radius: 20px;
  overflow: hidden;
}